[alias]
	amend-to = "!f() { SHA=`git rev-parse \"$1\"`; git stash -k && git commit --fixup \"$SHA\" && GIT_SEQUENCE_EDITOR=true git rebase --interactive --autosquash \"$SHA^\" && git stash pop; }; f"
	tree = log --graph --oneline --all
[bash]
	showInformativeStatus = true
[blame]
	ignoreRevsFile = .git-blame-ignore-revs
	markIgnoredLines = true
	markUnblamableLines = true
[commit]
	gpgsign = true
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	pager = delta
	sshCommand = ssh -i ~/.ssh/id_ed25519 -F /dev/null
[credential]
	helper = store --file ~/.git-credentials
[credential "https://github.com/mattf552814"]
	username = mattf552814
[delta]
	light = true
	navigate = true
[diff]
	algorithm = histogram
	colorMoved = default
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[http]
	postBuffer = 157286400
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[user]
	email = matt@felle.nz
	name = Matt Fellenz
	signingKey = 00507F6492F147C2865E7558D0061A7BB596E3B3
[pull]
	rebase = false
[push]
	default = matching
