* {
	border: none;
	border-radius: 0;
	font-family: monospace, 'Noto Sans CJK JP';
	font-size: 10px;
	min-height: 0;
	color: #b1b9bf;
}

window#waybar {
	background-color: #1b2932;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar > * {
	border-bottom: 2px solid rgba(255, 255, 255, 0.04);
}

window#waybar > * > * {
	margin-bottom: -2px;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces button {
	padding: 0 3px;
	background-color: transparent;
	color: #b1b9bf;
}

#workspaces button.focused {
	background-color: rgba(255, 255, 255, 0.07);
	border-bottom: 2px solid rgba(255, 255, 255, 0.17);
}

#workspaces button.focused > * {
	margin-bottom: -2px;
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#language {
	min-width: 2em;
}

widget {
	color: #b1b9bf;
}

.modules-right > widget > :first-child, .modules-left > widget > :first-child {
	padding-left: 7px;
}

.modules-right > widget > :last-child, .modules-left > widget > :last-child {
	padding-right: 7px;
}

.modules-left > widget:first-child > :first-child {
	padding-left: 0;
}

#idle_inhibitor {
	margin: 0 7px;
}
#idle_inhibitor.activated {
	background-color: #b1b9bf;
	color: #1b2932;
}

#pulseaudio.muted {
	color: #2a5c45;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}

